(
    name: "BlackForest",
    size: (192, 192),
    elevation: (
        base_level: 12.0, falloff: 60.0,
        layers: [
            (freq: 0.008, amp: 8.0, octaves: 4, ridged: true),
            (freq: 0.030, amp: 2.5, octaves: 2, ridged: false),
        ]
    ),
    player_start_rules: (
        symmetry: Rotational(2),
        min_between_starts: 70,
        min_to_center: 45,
        plateau_radius: 8,
        jitter: 5,
    ),
    fairness: (
        primary_gold: 1,
        secondary_gold: 1,
        berries: 1,
        max_distance_jitter: 8,
    ),
    densities: (
        forest_density: 0.22,
        stragglers_per_player: 6,
    ),
    water: true,
)
